<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Альтернатива</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    </head>
    <body>
       <div class="block-main">
           <div class="wrap">
               <div class="container">
                   <div class="block-main__flex">
                        <div class="block-main__text">
                            <h1 class="block-main__title">Восстановительное <span>очищение печени</span></h1>
                            <h2 class="block-main__subtitle">процедура очищения печени (безболезненная) без применения клизм и капельниц специальным солевым энтеральным роствором</h2>
                            <p class="block-main__price"><span>3000 ₽</span> /сеанс <img src="../img/action.png" alt=""></p>
                            <button class="block-main__btn"><a href="">подробнее</a></button>
                        </div>
                        <div class="block-main__form">
                            <img class="block-main__form__img" src="../img/form.png" alt="">
                            <form class="block-main__form__contact" action="" method="POST">
                                <p class="block-main__form__title">Записаться на прием</p>
                                <p class="block-main__form__subtitle">Оставьте заявку и мы позвоним вам</p>
                                <p>Ваше имя:</p>
                                <input class="block-main__form__name" type="text" name="name">
                                <p>Ваш телефон:</p>
                                <input class="block-main__form__number" type="number" name="phone">
                                <button type="submit" data-modal="thanks" class="block-main__form__btn"><a href="">ОСТАВИТЬ ЗАЯВКУ</a></button>
                                <input type="checkbox" class="block-contact__checkbox" name="checkbox">
                                <a class="block-main__form__link" href="" target="_blank">Согласен(на)</a> <p class="block-main__form__politics">с политикой конфиденциальности</p> 
                            </form>
                        </div>
                    </div>
               </div>
                <div class="block-arrows">
                    <div class="block-arrows__left"><a href=""><img src="../img/left.png" alt=""></a></div>
                    <div class="block-arrows__right"><a href=""><img src="../img/right.png" alt=""></a></div>
                </div>
            </div>   
        </div>
        <div class="block-about">
            <div class="container">
                <div class="block-about__flex">
                    <div class="block-about__img">
                        <img class="block-about__clinic" src="../img/clinic.png" alt="">
                        <img class="block-about__ten" src="../img/ten.png" alt="">
                        <button class="block-about__left block-about__btn"><a href=""><img src="../img/arrow-left.png" alt=""></a> </button>
                        <div class="line"></div>
                        <button class="block-about__right block-about__btn"><a href=""><img src="../img/arrow-right.png" alt=""></a> </button>
                    </div>
                    <div class="block-about__text">
                        <h2 class="block-about__title">Наркологический центр<br> <span>Альтернатива</span></h2>
                        <p class="block-about__desc">Наш центр - одно из лучших медицинских учреждений Татарстана, где проводится комплексное лечение наркотической и алкогольной зависимости с применением современных медицинских препаратов, физиотерапевтических, психологических методик.</p>
                        <button class="block-about__pinkbtn"><a href="">узнать подробнее</a></button>
                    </div>
                    <div class="block-about__documents">
                        <div class="block-about__documents__text">
                            <p class="block-about__documents__title"><mark>Наши <br>документы:</mark></p>
                            <img class="block-about__documents__img" src="../img/documents.png" alt="">
                            <a href=""><img class="block-about__documents__search"src="../img/search.png" alt=""></a>  
                        </div>
                        <div class="block-about__documents__btn">
                            <button class="block-about__documents__pinkbtn "><a href="">cмотреть все</a></button>
                        </div>
                    </div>
                </div>   
            </div> 
        </div>
        <div class="container">
            <div class="block-phone">
                <p class="block-phone__title">СКИДКА <mark>5%</mark> НА ВСЕ УСЛУГИ</p>
                <p class="block-phone__desc">При заказе звонка на сайте. <span>Мы перезвоним вам через 5 минут</span> </p>
                <form class="block-phone__form" action="" method="POST">
                    <input class="block-phone__name" type="text" name="name" placeholder="Ваше имя">
                    <input class="block-phone__number" type="number" name="phone" placeholder="Ваш телефон">
                    <button type="submit" data-modal="thanks" class="block-phone__btn"><a href="">ОСТАВИТЬ ЗАЯВКУ</a></button>
                    <input type="checkbox" class="block-phone__checkbox" name="checkbox">
                    <p class="block-phone__link"><a  href="" target="_blank">Согласен(на) c<br></a>политикой конфиденциальности</p> 
                </form> 
            </div>
        </div>
        <div class="block-doctors">
            <div class="wrap">
                <p class="block-doctors__subtitle">БУДЕМ ЗНАКОМЫ</p>
                <h3 class="block-doctors__title">Врачи клиники</h3>
                <img class="block-doctors__pulse" src="../img/pulse.png" alt="">
                <div class="block-doctors__gallery">
                    <div class="block-doctors__damir">
                        <img class="block-doctors__img" src="../img/damir.png" alt="">
                        <p class="block-doctors__name">Гиниатуллин<br> Дамир Ильдарович </p>
                        <p class="block-doctors__text">(руководитель клиники)</p>
                    </div>
                    <div class="block-doctors__adel">
                        <img class="block-doctors__img" src="../img/adel.png" alt="">
                        <p class="block-doctors__name"> Мингазов<br>Адель Эдуардович  </p>
                        <p class="block-doctors__text">(главный врач, нарколог)</p>
                    </div>
                    <div class="block-doctors__valery">
                        <img class="block-doctors__img" src="../img/valery.png" alt="">
                        <p class="block-doctors__name">Маринин Валерий<br>Александрович </p>
                        <p class="block-doctors__text">(психолог-нарколог,<br> клинический психолог)</p>
                    </div>
                    <div class="block-doctors__search">
                        <img class="block-doctors__search__img"src="../img/doctors-search.png" alt="">
                        <p class="block-doctors__search__title">Мы собрали команду лучших специалистов</p>
                        <p class="block-doctors__search__subtitle">Врачи психиатры-наркологи, психиатры, психотерапевты, психологи</p>
                        <button class="block-doctors__search__bluebtn"><a href="">Все врачи</a></button>
                        <button class="block-doctors__search__pinkbtn"><a href="">Получить помощь</a></button>
                    </div>
                </div>
                <div class="block-arrows">
                    <div class="block-arrows__left"><a href=""><img src="../img/whitearrow-left.png" alt=""></a></div>
                    <div class="block-arrows__right"><a href=""><img src="../img/whitearrow-right.png" alt=""></a></div>
                </div>
            </div>
        </div>
        <div class="block-photodoctors">
            <img src="../img/doctors.png" alt="">
        </div>
        <div class="block-photoclinic">
            <div class="wrap">
                <p class="block-photoclinic__text">УСЛОВИЯ ПРОЖИВАНИЯ</p>
                <p class="block-photoclinic__title">Фотографии клиники</p>
                <img class="block-doctors__pulse" src="../img/pulse.png" alt="">
                <ul class="block-photoclinic__list">
                    <li class="block-photoclinic__item"><button><a href="">все фотографии</a></button></li>
                    <li class="block-photoclinic__item"><button><a href="">дневной стационар</a></button></li>
                    <li class="block-photoclinic__item"><button><a href="">реабилитационный центр</a></button><li>
                    <li class="block-photoclinic__item"><button><a href="">досуг пациентов</a></button></li>
                </ul>
            </div>
            <div class="block-photoclinic__gallery">
                <img class="block-photoclinic__gallery1" src="../img/photo1.png" alt="">
                <img class="block-photoclinic__gallery2" src="../img/photo2.png" alt="">
                <img class="block-photoclinic__gallery3" src="../img/photo3.png" alt="">
                <img class="block-photoclinic__gallery4" src="../img/photo4.png" alt="">
                <img class="block-photoclinic__gallery5" src="../img/photo5.png" alt="">
            </div>
        </div>
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
