* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
}

.wrap {
  width: 100%;
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.block-main {
  padding: 60px 0 107px 0;
  background: url(../img/bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.block-main__text {
  width: 468px;
  height: 355px;
}

.block-main__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.block-main__title {
  color: #fff;
  font-weight: 400;
  font-size: 48px;
}

.block-main__title span {
  font-size: 58px;
  font-weight: 700;
}

.block-main__subtitle {
  margin-top: 38px;
  color: #c5e8ff;
  opacity: 80%;
  line-height: 23px;
  font-weight: 400;
  font-size: 18px;
}

.block-main__price {
  margin-top: 45px;
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  margin: 40px 0;
}

.block-main__price span {
  font-size: 43px;
}

.block-main__btn {
  padding: 20px 30px;
  background: none;
  outline: none;
  border: 1px solid;
  border-radius: 5%;
  color: #fff;
}

.block-main__btn:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #bb0367;
}

.block-main__btn a {
  font-size: 17px;
  color: #fff;
  text-decoration: none;
}

.block-main__btn a:hover {
  color: #bb0367;
}

.block-main .block-main__form__img {
  background-size: cover;
  position: absolute;
}

.block-main .block-main__form__contact {
  padding: 40px 30px;
  position: relative;
  width: 353px;
  height: 430px;
}

.block-main .block-main__form__title {
  font-weight: 700;
  color: #000;
  font-size: 24px;
}

.block-main .block-main__form__subtitle {
  margin-top: 5px;
  color: #a4a4a4;
  margin-bottom: 30px;
}

.block-main .block-main__form__name, .block-main .block-main__form__number {
  width: 100%;
  height: 45px;
  margin: 20px 0;
}

.block-main .block-main__form__btn {
  cursor: pointer;
  width: 100%;
  font-size: 17px;
  padding: 15px 0px;
  border: none;
  outline: none;
  font-weight: 700;
  background-image: linear-gradient(60deg, #15549e 0%, #3179b8 100%);
}

.block-main .block-main__form__btn a {
  text-decoration: none;
  color: #fff;
}

.block-main .block-main__form__link, .block-main .block-main__form__politics {
  display: inline-block;
  font-size: 13px;
}

.block-about {
  background: url(../img/star.png);
  padding-bottom: 150px;
}

.block-about__img {
  width: 450px;
}

.block-about__clinic {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 40px;
  border-radius: 20px;
  margin-top: 150px;
}

.block-about__ten {
  margin-top: 450px;
  margin-right: 500px;
  position: absolute;
}

.block-about__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-about__btn {
  position: absolute;
  z-index: 3;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background: #bb0367;
  border-right-color: #fff;
}

.block-about__right {
  z-index: 1;
  margin-top: 529px;
  position: absolute;
  margin-left: 419px;
  border-bottom-right-radius: 10px;
}

.block-about__left {
  z-index: 1;
  margin-top: 529px;
  position: absolute;
  margin-left: 370px;
  border-top-left-radius: 10px;
}

.block-about .line {
  margin-top: 544px;
  margin-left: 420px;
  display: inline-block;
  position: absolute;
  z-index: 3;
  width: 0.3px;
  height: 35px;
  background: #de6caa;
}

.block-about__text {
  width: 336px;
}

.block-about__title {
  margin-top: 170px;
  color: #011d3a;
  font-size: 25px;
  margin-bottom: 35px;
  font-weight: 400;
  line-height: 37px;
}

.block-about__title span {
  font-weight: 700;
  font-size: 50px;
}

.block-about__desc {
  color: #011d3a;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 40px;
}

.block-about__pinkbtn {
  padding: 20px 30px;
  background: none;
  outline: none;
  border: 1px solid;
  border-radius: 5%;
  color: #bb0367;
}

.block-about__pinkbtn a {
  font-size: 17px;
  color: #bb0367;
  text-decoration: none;
}

.block-about__documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 250px;
  margin-top: 195px;
}

.block-about__documents__text {
  width: 120px;
}

.block-about__documents__title {
  font-size: 18px;
  color: #011d3a;
  text-align: left;
  margin-bottom: 40px;
}

.block-about__documents__title mark {
  background: #e2f4fd;
}

.block-about__documents__pinkbtn {
  margin-top: 8px;
  padding: 5px 10px;
  background: none;
  outline: none;
  border: 1px solid;
  border-radius: 8%;
  color: #bb0367;
}

.block-about__documents__pinkbtn a {
  font-size: 17px;
  color: #bb0367;
  text-decoration: none;
}

.block-about__documents__img {
  position: absolute;
}

.block-about__documents__search {
  position: absolute;
  margin-top: 80px;
  margin-left: 80px;
}

.block-phone {
  margin-bottom: 50px;
  height: 201px;
  margin-top: -50px;
  background: url(../img/bg-phone.png);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-phone img {
  padding: 30px 0;
}

.block-phone__title {
  margin-left: 40px;
  display: inline-block;
  font-size: 26px;
  color: #fff;
  font-weight: 700;
  margin-top: 80px;
}

.block-phone__title mark {
  color: #fff;
  padding: 1px 3px;
  background: #bb0367;
  border: 2px dashed #fff;
}

.block-phone__desc {
  margin-left: 30px;
  display: inline-block;
  font-size: 15,5px;
  color: #fff;
  font-weight: 400;
}

.block-phone__desc span {
  color: #bdd9ff;
}

.block-phone__form {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
}

.block-phone__name, .block-phone__number {
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
}

.block-phone__btn {
  cursor: pointer;
  outline: none;
  margin-top: 14px;
  border-radius: 8px;
  border: none;
  padding: 5px 20px;
  background: #bb0367;
  font-weight: 400;
  font-size: 16px;
}

.block-phone__btn a {
  text-decoration: none;
  color: #fff;
}

.block-phone__checkbox {
  margin-left: 15px;
  margin-top: 40px;
}

.block-phone__link {
  margin-left: 15px;
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
}

.block-phone__link a {
  text-decoration: none;
  color: #bed7f9;
  font-size: 14px;
}

input.block-phone__name::-webkit-input-placeholder, input.block-phone__number::-webkit-input-placeholder {
  color: #011d3a;
}

input.block-phone__name:-ms-input-placeholder, input.block-phone__number:-ms-input-placeholder {
  color: #011d3a;
}

input.block-phone__name::-ms-input-placeholder, input.block-phone__number::-ms-input-placeholder {
  color: #011d3a;
}

input.block-phone__name::placeholder, input.block-phone__number::placeholder {
  color: #011d3a;
}

.block-doctors__subtitle, .block-doctors__title {
  text-align: center;
}

.block-doctors__subtitle {
  color: #bb0367;
  font-size: 14px;
  font-weight: 700;
}

.block-doctors__title {
  color: #011d3a;
  font-size: 46px;
  font-weight: 700;
  margin-bottom: 30px;
}

.block-doctors__pulse {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

.block-doctors__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-doctors__img {
  position: absolute;
  z-index: 0;
  border-radius: 10px;
  -webkit-box-shadow: -1px -2px 19px 1px rgba(34, 60, 80, 0.11);
  box-shadow: -1px -2px 19px 1px rgba(34, 60, 80, 0.11);
}

.block-doctors__name, .block-doctors__text {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-left: 55px;
}

.block-doctors__name {
  margin-top: 335px;
  color: #1555a5;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.block-doctors__text {
  color: #a4a4a4;
  font-size: 15px;
}

.block-doctors__damir, .block-doctors__adel, .block-doctors__valery, .block-doctors__search {
  margin: 0 40px;
}

.block-doctors__search {
  padding: 43px 12px 38px 12px;
  width: 265px;
  height: 444px;
  border-radius: 10px;
  border: 1px dashed #a4a4a4;
}

.block-doctors__search__img {
  display: block;
  margin: 0 auto;
}

.block-doctors__search__title {
  font-size: 20px;
  color: #bb0367;
  font-weight: 700;
  line-height: 22px;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.block-doctors__search__subtitle {
  color: #a4a4a4;
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 27px;
}

.block-doctors__search__bluebtn {
  padding: 13px 50px;
  display: block;
  margin: 0 auto;
  background: none;
  border: 2px solid #1555a5;
  border-radius: 6%;
  margin-bottom: 10px;
}

.block-doctors__search__bluebtn a {
  font-weight: 700;
  font-size: 16px;
  color: #1555a5;
  text-decoration: none;
}

.block-doctors__search__pinkbtn {
  padding: 15px 20px;
  display: block;
  margin: 0 auto;
  background: #bb0367;
  border: none;
  border-radius: 6%;
}

.block-doctors__search__pinkbtn a {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.block-arrows {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 250px;
}

.block-photodoctors {
  background-position: center center;
  background: url(../img/bg-clinic.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 535px;
  position: relative;
}

.block-photodoctors img {
  position: relative;
  display: block;
  margin: 0 auto;
  bottom: -115px;
}

.block-photoclinic {
  padding: 80px 0;
  background: url(../img/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.block-photoclinic__title {
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.block-photoclinic__text {
  font-size: 14px;
  font-weight: 700;
  color: #80c3ff;
  text-align: center;
  margin-bottom: 20px;
}

.block-photoclinic__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-photoclinic__item {
  margin-left: 50px;
  list-style-type: none;
}

.block-photoclinic__item button {
  padding: 13px;
  border-radius: 5px;
  border: 1px solid #fff;
  background: none;
  outline: none;
  margin-bottom: 84px;
}

.block-photoclinic__item button:hover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background: #fff;
}

.block-photoclinic__item button:hover a {
  color: #bb0367;
}

.block-photoclinic__item a {
  font-size: 15px;
  color: #fff;
  text-decoration: none;
}

.block-photoclinic__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.block-photoclinic__gallery img {
  margin: 0 auto;
  border-radius: 10px;
  width: 360px;
  height: 365px;
  margin-bottom: 55px;
}

.block-about__form {
  display: none;
}

@media (max-width: 1300px) {
  .wrap {
    max-width: 1200px;
  }
  .container {
    max-width: 1000px;
  }
  .block-about {
    background: none;
  }
  .block-doctors__valery {
    display: none;
  }
  .block-phone {
    margin-left: -90px;
    min-width: 1150px;
  }
  .block-about__img {
    min-width: 150px;
    margin-left: -130px;
  }
  .block-about {
    background: none;
  }
  .block-about__documents {
    margin-right: -110px;
  }
  .block-photoclinic__gallery5, .block-photoclinic__gallery4 {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .wrap {
    max-width: 1100px;
  }
  .container {
    max-width: 900px;
  }
  .block-phone {
    margin-left: -140px;
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .wrap {
    max-width: 990px;
  }
  .container {
    max-width: 800px;
  }
  .block-main__title {
    font-size: 40px;
  }
  .block-main__title span {
    font-size: 44px;
  }
  .block-main__text {
    width: 350px;
  }
  .block-about__documents__img {
    display: inline-block;
    top: 1350px;
    left: 600px;
  }
  .block-about__documents__search {
    display: inline-block;
    top: 1350px;
    left: 600px;
  }
  .block-about__documents__title {
    font-size: 30px;
  }
  .block-about__documents__pinkbtn {
    margin-left: 120px;
    width: 180px;
    height: 60px;
  }
  .block-about__documents__pinkbtn a {
    font-size: 18px;
  }
  .block-photoclinic__gallery5 {
    display: block;
  }
  .block-about__img {
    padding-left: 80px;
  }
  .block-about__text {
    padding-left: 100px;
    width: 400px;
  }
  .block-phone {
    min-width: 900px;
    display: block;
    margin: 0 auto;
    margin-left: -70px;
    border-radius: 5px;
  }
  .block-doctors__subtitle {
    margin-top: 50px;
  }
  .block-doctors__gallery {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-left: 45px;
  }
  .block-about {
    padding: 10px;
  }
  .block-doctors__damir, .block-doctors__adel, .block-doctors__search {
    margin: 0 27px;
  }
}

@media screen and (max-width: 767px) {
  .wrap {
    max-width: 767px;
  }
  .container {
    max-width: 650px;
  }
  .block-main__form__img {
    width: 290px;
    height: 440px;
  }
  .block-main__form__contact {
    display: inline-block;
    padding: 10px;
    max-width: 300px;
  }
  .block-main__form__btn a {
    font-size: 13px;
  }
  .block-main__form__name, .block-main__form__number {
    margin: 10px 0;
  }
  form {
    padding: 0px;
  }
  .block-main__title {
    font-size: 35px;
  }
  .block-main__title span {
    font-size: 39px;
  }
  .block-about__documents__img, .block-about__documents__search {
    display: inline-block;
    top: 1000px;
    left: 550px;
  }
  .block-about__text {
    text-align: center;
    margin-top: 500px;
    width: 1200px;
    margin-right: 100px;
  }
  .block-about__documents__title {
    position: absolute;
    top: 0;
    margin-top: 820px;
    margin-left: 480px;
  }
  .block-about__documents__pinkbtn {
    position: absolute;
    top: 0;
    margin-top: 920px;
    margin-left: 230px;
  }
  .block-about__flex {
    height: 1000px;
  }
  .block-phone__form {
    padding: 0;
    width: 750px;
    height: 50px;
  }
  .block-phone__title {
    font-size: 15px;
  }
  .block-phone__btn {
    font-size: 10px;
  }
  .block-phone__checkbox {
    margin-top: 25px;
  }
  .block-phone__link {
    margin-top: 23px;
    font-size: 10px;
  }
  .block-phone__link a {
    font-size: 10px;
  }
  .block-phone {
    min-width: 760px;
  }
  .block-doctors__img, .block-doctors__search {
    width: 200px;
    height: 350px;
  }
  .block-doctors__name, .block-doctors__text {
    bottom: 90px;
    font-size: 15px;
    width: 150px;
    right: 30px;
  }
  .block-doctors__damir, .block-doctors__adel, .block-doctors__search {
    margin: 0 2px;
  }
  .block-doctors__search__title {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .block-doctors__search__subtitle {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .block-arrows__left img, .block-arrows__right img {
    width: 32px;
    height: 32px;
  }
  .block-doctors__search__bluebtn {
    padding: 7px 38px;
    border: 0.5px solid #1555a5;
  }
  .block-doctors__search__bluebtn a {
    font-size: 11px;
  }
  .block-doctors__search__pinkbtn {
    padding: 8px 18px;
  }
  .block-doctors__search__pinkbtn a {
    font-size: 11px;
  }
  .block-photodoctors img {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .wrap {
    max-width: 575px;
  }
  .container {
    max-width: 500px;
  }
  .block-main__title {
    font-size: 45px;
  }
  .block-main__title span {
    font-size: 50px;
  }
  .block-main__subtitle {
    font-size: 35px;
  }
  .block-main__text {
    width: 450px;
    height: 150px;
    text-align: center;
  }
  .block-main__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-main__subtitle {
    font-size: 15px;
    text-align: center;
  }
  .block-main__form {
    margin-top: 280px;
    margin-left: 100px;
    margin-bottom: 0;
  }
  .block-main {
    height: 850px;
  }
  .block-main .block-arrows {
    bottom: 500px;
    height: 0;
  }
  .block-about__documents {
    width: 250px;
    left: -400px;
    position: absolute;
    top: 950px;
  }
  .block-about {
    height: 1100px;
  }
  .block-about__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .block-about__documents__img, .block-about__documents__search {
    left: 690px;
    position: absolute;
    top: 800px;
  }
  .block-about__text {
    padding: 0;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding-top: 460px;
  }
  .block-about__documents__title mark {
    font-size: 20px;
    line-height: 15px;
  }
  .block-about__documents__pinkbtn {
    width: 100px;
    height: 40px;
  }
  .block-about__documents__pinkbtn a {
    font-size: 12px;
  }
  .block-about__img img {
    left: 40px;
    margin-bottom: 5px;
  }
  .block-about__right {
    margin-left: 467px;
  }
  .block-about__left {
    margin-left: 425px;
  }
  .line {
    left: 45px;
  }
  .block-phone {
    height: 180px;
    margin-top: 250px;
  }
  .block-phone__name, .block-phone__number {
    width: 100px;
    height: 30px;
    font-size: 10px;
  }
  .block-phone__btn {
    width: 120px;
    height: 30px;
  }
  .block-phone__btn a {
    font-size: 8px;
  }
  .block-phone__desc {
    font-size: 14px;
    height: 20px;
    width: 320px;
  }
  .block-phone__title {
    padding-bottom: 10px;
  }
  .block-doctors__img, .block-doctors__search {
    width: 150px;
    height: 280px;
  }
  .block-doctors__name, .block-doctors__text {
    bottom: 140px;
    font-size: 12px;
    line-height: 18px;
    width: 150px;
    right: 50px;
  }
  .block-doctors__search__img {
    margin-top: -20px;
    width: 60px;
    height: 60px;
  }
  .block-doctors__search__title {
    margin-top: 15px;
    font-size: 11px;
    margin-bottom: 5px;
  }
  .block-doctors__search__subtitle {
    font-size: 10px;
    margin-bottom: 5px;
  }
  .block-arrows__left img, .block-arrows__right img {
    width: 32px;
    height: 32px;
  }
  .block-doctors__search__bluebtn {
    margin-top: 20px;
    padding: 2px 28px;
    border: 0.5px solid #1555a5;
  }
  .block-doctors__search__bluebtn a {
    font-size: 8px;
  }
  .block-doctors__search__pinkbtn {
    margin-top: 10px;
    padding: 5px 13px;
  }
  .block-doctors__search__pinkbtn a {
    font-size: 8px;
  }
  .block-doctors__title {
    font-size: 35px;
  }
  .block-doctors__damir, .block-doctors__adel, .block-doctors__search {
    margin: 0 -25px;
  }
  .block-doctors__gallery {
    margin-left: 70px;
  }
  .block-doctors {
    height: 470px;
  }
  .block-photodoctors {
    height: 347px;
  }
  .block-photodoctors img {
    width: 500px;
  }
  .block-photoclinic__title {
    font-size: 35px;
  }
  .block-photoclinic__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 40px;
  }
  .block-photoclinic__gallery img {
    width: 200px;
    height: 200px;
  }
}
/*# sourceMappingURL=main.css.map */